<div *ngIf="aggregateResults$ | async as results" class="aggregate">
  <div class="graph">
    <div class="header">
      <div class="title">
        Peak Memory 
        <app-tooltip-icon title="Average of all peak memories per vendor"></app-tooltip-icon>
      </div>
      <div class="unit">Mib (less is better)</div>
    </div>
    <div class="results">
      <div class="divider"></div>
      <div *ngFor="let result of results" class="result">
        <div class="name">{{result.vendor}}</div>
        <div class="bar-wrapper">
          <div class="bar" [ngStyle]="{'width': result.relativeMemoryToMax + '%', 'background-color': getBackgroundColor(result.vendor)}"></div>
        </div>
        <div class="relative" *ngIf="shouldShowDecimal(results, 'relativeMemory'); else withoutDecimals">x{{result.relativeMemory | number}}</div>
        <ng-template #withoutDecimals>
          <div class="relative">x{{result.relativeMemory | number: '1.0-0'}}</div>
        </ng-template>
      </div>
    </div>
    <div class="description">Memory consumed impacts pricing, performance and storage, <span class="bolded">less is better.</span></div>
  </div>

  <div class="graph">
    <div class="header">
      <div class="title">
        Throughput
        <app-tooltip-icon title="Average of all throughput per vendor"></app-tooltip-icon>
      </div>
      <div class="unit">Queries per second (more is better)</div>
    </div>
    <div class="results">
      <div class="divider"></div>
      <div *ngFor="let result of results" class="result">
        <div class="name">{{result.vendor}}</div>
        <div class="bar-wrapper">
          <div class="bar" [ngStyle]="{'width': result.relativeThroughputToMax + '%', 'background-color': getBackgroundColor(result.vendor)}"></div>
        </div>
        <div class="relative" *ngIf="shouldShowDecimal(results, 'relativeThroughput'); else withoutDecimals">x{{result.relativeThroughput | number}}</div>
        <ng-template #withoutDecimals>
          <div class="relative">x{{result.relativeThroughput | number: '1.0-0'}}</div>
        </ng-template>
      </div>
    </div>
    <div class="description">If you’re looking for speed of query execution, <span class="bolded">more is better.</span></div>
  </div>
</div>
<div class="big-banner">
  <div class="big-banner-data">
    <div class="big-banner-data-title">
      Recreate the benchmark using your own data
    </div>
    <div class="big-banner-data-text">
      Determine how much of an improvement switching to Memgraph would be for your use case and your specific workload. 
    </div>
  </div>
  <div class="big-banner-button">
    <a class="explore-button" [href]="tutorialLink" target="_blank" (click)="openLink(tutorialLink)">
      EXPLORE TUTORIAL
    </a>
  </div>
</div>
