<div class="settings" *ngIf="!isCollapsed; else collapsed">
  <img src="assets/img/collapse-black.svg" class="collapse" (click)="collapse(true)">
  <div class="header">Testing Environment Setup</div>
  <div class="description">Set up your desired testing environment for results most relevant to you.</div>

  <div *ngIf="settings$ | async as settings">

    <div class="setting">
      <div class="title">Engines under testing</div>
      <div class="vendors">
        <div class="vendor" *ngFor="let vendor of settings.vendors; let i = index" [title]="tooltipByVendor[vendor.name]">
          {{vendor.name}}
        </div>
      </div>
      <a 
        class="contribute" 
        (click)="openLink(contributeLink)" 
        [href]="contributeLink" 
        target="_blank">
        <div class="text">Want to contribute?</div>
        <span class="icon-ui-right"></span>
      </a>
    </div>

    <div class="setting" *ngIf="shouldShowHardwareAlias$ | async">
      <div class="title">Hardware Alias</div>
      <div class="conditions">
        <div 
          class="condition"
          *ngFor="let hardwareAlias of settings.hardwareAliases" 
          [ngClass]="{'activated': hardwareAlias.isActivated, 'single': settings.hardwareAliases.length === 1}" 
          (click)="updateHardwareAlias(hardwareAlias)">
          {{hardwareAlias.name}}
        </div>
      </div>
    </div>

    <div class="setting">
      <div class="title">Engine Condition</div>
      <div class="conditions">
        <div 
          class="condition" 
          *ngFor="let condition of settings.conditions" 
          [ngClass]="{'activated': condition.isActivated, 'single': settings.conditions.length === 1, 'has-tooltip': !!condition.tooltip}" 
          (click)="updateCondition(condition)"
          [attr.title]="condition.tooltip ? condition.tooltip : null">
          {{condition.name}} run
        </div>
      </div>
    </div>

    <div class="setting">
      <div class="title">Dataset</div>
      <div class="conditions">
        <div 
          class="condition" 
          *ngFor="let size of settings.datasetSizes" 
          [ngClass]="{'activated': size.isActivated, 'single': settings.datasetSizes.length === 1, 'has-tooltip': !!size.tooltip}" 
          (click)="updateSize(size)"
          [attr.title]="size.tooltip ? size.tooltip : null">
          {{size.name}}
        </div>
      </div>
    </div>

    <div class="setting">
      <div class="title">Workload Type</div>
      <div class="conditions">
        <div 
          class="condition" 
          *ngFor="let workloadType of settings.workloadTypes" 
          [ngClass]="{'activated': workloadType.isActivated, 'single': settings.workloadTypes.length === 1, 'has-tooltip': !!workloadType.tooltip}" 
          (click)="updateWorkloadType(workloadType)"
          [attr.title]="workloadType.tooltip ? workloadType.tooltip : null">
          {{workloadType.name}}
        </div>
      </div>
      <div class="disclaimer">All workloads executed with 12 concurrent clients.</div>
    </div>

    <div class="setting" *ngIf="!(isRealisticActivated$ | async)">
      <div class="title">Query Selection</div>
      <div class="categories">
        <div 
          class="category" 
          *ngFor="let category of settings.queryCategories" 
          [ngClass]="{'activated': category.isActivated, 'single': settings.queryCategories.length === 1}">
          <div class="category-main">
            <div class="checkbox" [ngClass]="{'activated': category.isActivated}" (click)="updateCategory(category, settings.queryCategories)">
              <span *ngIf="category.isActivated" class="icon-ui-ok"></span>
            </div>
            <div class="category-main-name">
              {{category.name}}
            </div>
            <div class="category-main-length">
              {{category.queries.length}}
            </div>
            <div 
              class="icon-ui-down-open category-main-caret" 
              [ngClass]="{'expanded icon-ui-up-open': category.isExpanded, 'icon-ui-down-open': !category.isExpanded}"
              (click)="updateCategory(category, settings.queryCategories, category.isExpanded)">
            </div>
          </div>
          <div class="category-queries" *ngIf="category.isExpanded">
            <div class="category-queries-query" *ngFor="let query of category.queries">
              <div class="checkbox" [ngClass]="{'activated': query.isActivated}" (click)="updateQuery(category, query, settings.queryCategories)">
                <span *ngIf="query.isActivated" class="icon-ui-ok"></span>
              </div>
                {{query.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #collapsed>
  <div class="expand icon-ui-cog" (click)="collapse(false)"></div>
</ng-template>
