@import 'colors';

.top-banner {
  background-color: $brand-black;
  width: 98%;
  height: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  margin: 0.625rem;
  border-radius: 2px;
  padding: 1rem;

  &-data {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
    align-items: center;

    .hammer-pick {
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    &-link {
      display: flex;
      cursor: pointer;
      color: white;

      &-text {
        text-decoration: underline;
        font-weight: bold;
      }

      .icon-ui-right {
        font-size: 1rem;
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        color: orange;
        transition: 0.2s transform linear;
      }

      &:hover {
        .icon-ui-right {
          transform: translateX(0.5rem);
        }
      }
    }
  }

  .close {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
}

.overview {
  padding: 1rem;
  height: 100%;

  &-tabs {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 1rem;
    background-color: white;

    &-tab {
      flex: 1 0;
      text-align: center;
      line-height: 2rem;
      font-weight: 600;
      border-bottom: 1px solid #D9D9D9;
      color: $brand-gray;
      cursor: pointer;
      transition: all 0.2s linear;

      &.is-activated {
        border-bottom: 2px solid black;
        color: $brand-black;
      }

      &.is-deactivated {
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .switch-wrapper {
    overflow-y: auto;
    height: 97%;
    scroll-behavior: smooth;
  }
}