@import 'colors';

table {
  table-layout: fixed;
  width: 100%;
  min-width: 650px;
}

td {
  width: 25%;
}

tbody, thead {
  border: none;
}

tbody tr:nth-child(odd) {
  background-color: transparent;
}

tbody tr:nth-child(even) td .data {
  background-color: #F9F9F9;
}

tbody td .data {
  padding: 0 0.5rem;
  border-radius: 2px;
  height: 34px;
  display: flex;
  align-items: center;
}

th {
  padding: 0 1rem 0 0;
  font-weight: 400;

  .title {
    background-color: $brand-black;
    color: white;
    border-radius: 2px;
    padding: 0.2rem 0.5rem;
  }

  .vendor {
    &-text {
      margin-right: 20%;
      text-align: end;
    }
  }

  &.wider {
    width: 40%;
  }
}


.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .result {
    width: 50rem;
  }
}

.navigation {
  display: flex;
  gap: 1.5rem;
  transform: rotate(-90deg);
  position: sticky;
  margin-right: auto;
  top: 10rem;
  margin-left: -6.5rem;

  &.adjust-for-isolated {
    top: 13rem;
    margin-left: -9.5rem;
  }

  &-item {
    cursor: pointer;
    padding: 0 0.5rem;
    border-radius: 2px;

    &.activated {
      background: #FEE8D6;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 2rem 1rem 0.6rem 0;
  justify-content: space-between;

  &-title {
    background: #F9F9F9;
    border-radius: 2px;
    width: fit-content;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    width: calc(40% - 0.5rem);

    &-inner {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;

      &-unit {
        font-weight: 400;
        font-size: 16px;
        color: #857F87;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  &-info {
    display: flex;
    gap: 0.3rem;

    .bold {
      font-weight: 600;
    }
  }
}

.category {

  td {
    height: 2rem;
    padding: 0.1rem 1rem 0.1rem 0;
  }

  tr:hover {
    .query-index-anchor-hash {
      display: flex;
    }
  } 

  .highlighted {
    border: 1px solid #FB6E00;
    border-radius: 2px;

    .query {
      color: $brand-orange;

      &-name {
        color: $brand-orange;
      }
    }

    .query-index-anchor-hash {
      display: initial;
    }
  }

  &-name {
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
  }

  .query {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &-index {
      font-weight: 600;
      display: flex;
      gap: 0.2rem;
      width: 2.75rem;

      &-anchor {
        width: 1rem;

        &-hash {
          display: none;

          &:hover {
            color: $brand-orange;
            cursor: pointer;
          }
        }
      }
    }

    &-name {
      color: #857F87;
      font-size: 12px;
    }

    &-percentages {
      display: flex;
      gap: 0.3rem;
      font-size: 0.75rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &-item {
        display: flex;
        gap: 0.5rem;
  
        &-name {
          color: $brand-gray;
          display: flex;
          gap: 0.3rem;
        }

        &-value {
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }

  .stats {
    display: flex;
    
    .relative {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      min-width: 3.5rem;

      &-value {
        width: fit-content;
        border: 2px solid #BDE8D3;
        border-radius: 4px;
        background-color: #DCF3E8;
        padding: 0 0.3rem;
        color: #19AF66;
        height: 1.25rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 0.875rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    &-value {
      margin-left: auto;
      margin-right: 20%;
      font-size: 1.125rem;

      &.weakest {
        color: #D05E06;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .results .result {
    width: 43rem;
    padding-left: 2rem;
  }
}