/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  height: 100%;
  // font-family: 'Encode Sans Semi Condensed 2';
  background-color: white;
}

// @font-face {
//   font-family: "Encode Sans Semi Condensed 2";
//   src: local("Encode_Sans_Semi_Condensed 2"), url(../assets/fonts/Encode_Sans_Semi_Condensed/EncodeSansSemiCondensed-Regular.ttf) format("truetype");
// }